fastapi
uvicorn
mlflow-skinny
pandas==2.1.4
scikit-learn
imbalanced-learn
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
tqdm==4.66.3
optree==0.17.0
dill==0.4.0
astunparse
cloudpickle==2.0.0
numpy==1.26.2