services:
    backend:
        build:
            context: ./backend
            args:
                - BACKEND_PORT=${BACKEND_PORT}
                - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}

                - MODEL_URI_PROD=${MODEL_URI_PROD}
                - MODEL_URI_DEV=${MODEL_URI_DEV}
                - MODEL_URI_BACKUP=${MODEL_URI_BACKUP}

                - WEAKLINK_MODEL_URI_PROD=${WEAKLINK_MODEL_URI_PROD}
                - WEAKLINK_MODEL_URI_DEV=${WEAKLINK_MODEL_URI_DEV}
                - WEAKLINK_MODEL_URI_BACKUP=${WEAKLINK_MODEL_URI_BACKUP}
        container_name: 4dt907-backend
        # environment:
        #     - BACKEND_PORT=${BACKEND_PORT}
        #     - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}

        #     - MODEL_URI_PROD=${MODEL_URI_PROD}
        #     - MODEL_URI_DEV=${MODEL_URI_DEV}
        #     - MODEL_URI_BACKUP=${MODEL_URI_BACKUP}

        #     - WEAKLINK_MODEL_URI_PROD=${WEAKLINK_MODEL_URI_PROD}
        #     - WEAKLINK_MODEL_URI_DEV=${WEAKLINK_MODEL_URI_DEV}
        #     - WEAKLINK_MODEL_URI_BACKUP=${WEAKLINK_MODEL_URI_BACKUP}
        env_file: .env
        restart: unless-stopped
        networks:
            - app-network
        healthcheck:
            test:
                ["CMD", "curl", "-f", "http://localhost:${BACKEND_PORT}/health"]
            interval: 30s
            timeout: 10s
            retries: 3
        profiles: ["dev"]
        volumes:
            - ./backend:/backend_app
            - /backend_app/.venv

    backend-prod:
        extends: backend
        profiles: ["prod"]
        volumes: []

    frontend:
        build:
            context: ./frontend
            args:
                - BACKEND_PORT=${BACKEND_PORT}
                - BACKEND_URL=${BACKEND_URL}
                - FRONTEND_PORT=${FRONTEND_PORT}
        container_name: 4dt907-frontend
        # environment:
        #     - BACKEND_PORT=${BACKEND_PORT}
        #     - BACKEND_URL=${BACKEND_URL}
        #     - FRONTEND_PORT=${FRONTEND_PORT}
        env_file: .env
        ports:
            - "${FRONTEND_PORT}:${FRONTEND_PORT}"
        depends_on:
            backend:
                condition: service_healthy
        restart: unless-stopped
        networks:
            - app-network
        profiles: ["dev"]
        volumes:
            - ./frontend:/app
            - /app/node_modules
    frontend-prod:
        extends: frontend
        profiles: ["prod"]
        volumes: []

networks:
    app-network:
        driver: bridge
