services:
    backend:
        build:
            context: ./backend
            args:
                - BACKEND_PORT=${BACKEND_PORT}
        container_name: 4dt907-backend
        environment:
            - BACKEND_PORT=${BACKEND_PORT}
        volumes:
            - ./backend:/backend_app
            - /opt/.venv
        restart: unless-stopped
        networks:
            - app-network

    frontend:
        build:
            context: ./frontend
            args:
                - FRONTEND_PORT=${FRONTEND_PORT}
        container_name: 4dt907-frontend
        environment:
            - FRONTEND_PORT=${FRONTEND_PORT}
        ports:
            - "${FRONTEND_PORT}:${FRONTEND_PORT}"
        volumes:
            - ./frontend:/frontend_app
            - /frontend_app/node_modules
        depends_on:
            - backend
        restart: unless-stopped
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

# TODO: Add DagsHub
