name: CI/CD Docker

on:
    push:
        branches: ["develop"]
    pull_request:
        branches: ["develop"]
jobs:
    test-orchestration:
        runs-on: ubuntu-latest
        env:
            BACKEND_PORT: ${{ secrets.BACKEND_PORT || '8080' }}
            FRONTEND_PORT: ${{ secrets.FRONTEND_PORT || '3030' }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Docker Compose Build & Test
              run: |
                  docker compose -f src/docker-compose.yml up -d --build

                  echo "Waiting for frontend to be ready..."
                  for i in {1..30}; do
                    if curl -f http://localhost:$FRONTEND_PORT > /dev/null 2>&1; then
                    echo "Frontend is ready!"
                    break
                    fi
                    echo "Attempt $i: Frontend not ready yet..."
                    sleep 2
                  done
                  docker ps

                  # curl -f http://localhost:$BACKEND_PORT/docs || exit 1
                  # curl -f http://localhost:$FRONTEND_PORT || exit 1

            - name: Stop containers
              if: always()
              run: docker compose -f src/docker-compose.yml down
