name: CI/CD Docker

on:
    push:
        branches: ["develop"]
    pull_request:
        branches: ["develop"]
jobs:
    test-orchestration:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Environment
              run: |
                  echo "BACKEND_PORT=${{ secrets.BACKEND_PORT }}" >> .env
                  echo "FRONTEND_PORT=${{ secrets.FRONTEND_PORT }}" >> .env

            - name: Spin up containers
              run: docker compose -f src/docker-compose.yml up -d --build

            - name: Check running containers
              run: docker ps

            - name: Test Backend Connection
              run: |
                  sleep 30
                  curl -f http://localhost:${{ secrets.BACKEND_PORT }}/docs || exit 1

            - name: Stop containers
              if: always()
              run: docker compose -f src/docker-compose.yml down
