name: CI/CD Docker

on:
    push:
        branches: ["develop"]
    pull_request:
        branches: ["develop"]
jobs:
    test-orchestration:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Docker Compose Build & Test
              env:
                  BACKEND_PORT: ${{ secrets.BACKEND_PORT }}
                  FRONTEND_PORT: ${{ secrets.FRONTEND_PORT }}
              run: |
                  docker compose -f src/docker-compose.yml up -d --build

                  sleep 40
                  docker ps

                  # curl -f http://localhost:$BACKEND_PORT/docs || exit 1
                  curl -f http://localhost:$FRONTEND_PORT || exit 1

            - name: Stop containers
              if: always()
              run: docker compose -f src/docker-compose.yml down
